.product-card-wrapper {
  // width: 33.33%;
  // width: 50%;
  // padding: 0 0 0 110px;
  // position: absolute;
  // width: 50%;
  // margin-left: 10%;

  //Needed
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  padding: 1rem;
  padding-left: 10px;
}

// img {
//   width: 20rem;
//   height: 20rem;
//   object-fit: contain;
//   object-position: center;
//   border: 1px solid #a2a6ac;
//   border-radius: 2px;
// }

.product-card {
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: var(--default-shadow);

  &__title {
    font-weight: bolder;
    margin-bottom: 0.5rem;
    
  }

  &__price {
    display: flex;
    font-size: var(--h4-size);
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }

  &__amount {
    font-weight: bold;

    &--discount {
      font-weight: normal;
      color: var(--hint-font-color);
      text-decoration: line-through;
      margin-left: 0.3rem;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-count {
    margin-left: 0.5rem;
    color: var(--hint-font-color);
  }

  &__gallery {
    display: flex;
    height: 20rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    // max-width: 50%;
  }

  &__image {
    object-fit: contain;
    object-position: center;
    height: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    padding: 0.5rem 1rem;
    // background-color: var(--theme-color-1);
    background-color: greenyellow;
  }
}

.add-to-cart-button {
  padding: 0.5rem 1rem;
  // background-color: var(--theme-color-1);
  background-color: greenyellow;
  cursor: pointer;
  border: 0.1rem solid #e2e2e2;
  outline: none;
  box-shadow: none;
  font-weight: bold;
}
