.products {
  // position: absolute;
  // position: relative;
  z-index: 1;//check
  // display: flex;
  display:inline-block;
  align-items: stretch;
  // flex-wrap: wrap;
  margin-top: 3rem;
  overflow-x:auto;
}
